

.scan-stats {
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;

    .ant-statistic {
        margin: 0 5em;
    }
    .ant-statistic-title {
        font-size: 1.5em;
        // color: #69c0ff;
    }
}

.result-search {
    width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .search-input {
        width: 800px;
    }
    .scan-results {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        

        .ant-list-item {
            background-color: white;
            padding: 1em;
            margin: 1em 0;
            box-shadow: 0 0 20px rgba(0,0,0,0.02);
        }
        .ant-list-item-meta {
            margin-bottom: 0;

        }
        .ant-list-item-meta-description {
            line-height: 2em;
        }
    }
    .search-online-only {
        align-self: flex-end;
    }

    .addr {
        transition: color .3s;
        cursor: pointer;

        &:hover {
            color: #1890ff;
        }
    }

    .update-time {
        font-size: 12px;
        font-weight: normal;
        color: #bbb;
        margin-left: 1em;

        &::before {
            content: "@";
            font-size: 1em;
            margin-right: 0.5em;
        }
    }
}

.result-detail {
    .ant-drawer-header {
        padding-bottom: 0;
        user-select: none;
    }
    .ant-drawer-title {
        display: flex;
        flex-flow: row nowrap;
    }
    .ant-menu {
        border: none 0;
    }
    .ant-page-header {
        padding: 0;
    }
    .ant-menu-horizontal {
        .ant-menu-item {
            min-width: 6em;
            margin: 0 0.5em;
            text-align: center;

            &:nth-child(0) {
                margin-left: 2em;
            }
        }
    }

    
}
.overview {
    .ant-descriptions-item {
        font-weight: bold;
    }

    .ant-collapse-header {
        user-select: none;
    }
}

.vulns-page {
    .vuln-count {
        margin-left: 0.5em;
    }
    .vuln-list .ant-list-item {
        justify-content: flex-start;
    }
    .vuln-id {
        margin-right: 1em;
    }
    .vuln-title {
        flex: 1 0;
    }
    .ant-descriptions-item-label {
        font-weight: bolder;
    }
}

.page-footer {
    min-height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: gainsboro;
    margin-top: 3em;
}

.task-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & > .ant-space{
        width: 1440px;
        margin-top: 2em;
    }


    .worker-stats {
        margin-bottom: 2em;

        .ant-card-body {
            margin-right: 0;
        }

        .ant-statistic-content {
            font-size: 1.6em;
        }

        .stats {
            flex: 1 0;
        }
    }
    
    .task-queue-list {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .ant-list {
            width: 100%;
        }
    }
}