

.scan-stats {
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;

    .ant-statistic {
        margin: 0 5em;
    }
    .ant-statistic-title {
        font-size: 1.5em;
        // color: #69c0ff;
    }
    .ant-statistic-content {
        // color: #2f54eb;
    }
}

.result-search {
    width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .search-input {
        width: 800px;
    }
    .scan-results {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        

        .ant-list-item {
            background-color: white;
            padding: 1em;
            margin: 1em 0;
            box-shadow: 0 0 20px rgba(0,0,0,0.02);
        }
        .ant-list-item-meta {
            margin-bottom: 0;
        }
    }
    .search-online-only {
        align-self: flex-end;
    }

    .addr {
        transition: color .3s;
        cursor: pointer;

        &:hover {
            color: #1890ff;
        }
    }

    .update-time {
        font-size: 12px;
        font-weight: normal;
        color: #bbb;
        margin-left: 1em;

        &::before {
            content: "@";
            font-size: 1em;
            margin-right: 0.5em;
        }
    }
}

.result-detail {
    .ant-drawer-header {
        padding-bottom: 0;
        user-select: none;
    }
    .ant-drawer-title {
        display: flex;
        flex-flow: row nowrap;
    }
    .ant-menu {
        border: none 0;
    }
    .ant-page-header {
        padding: 0;
    }
    .ant-menu-horizontal {
        .ant-menu-item {
            min-width: 6em;
            margin: 0 0.5em;
            text-align: center;

            &:nth-child(0) {
                margin-left: 2em;
            }
        }
    }

    .overview {
        .ant-descriptions-item {
            font-weight: bold;
        }
    }
}
